*{
	margin: auto;
	padding: 0;
}
body{
	height: 100%;
	background-image: url('img/bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}
.infoGame{
	background-color: white;
	border: red 2px solid;
}

.contents{
    width: 40%;
    margin: auto;
    padding: 20px;
    border-right: red 2px solid;
    border-left: red 2px solid;
}
.board {
    width: 75%;
    padding: 10px;
    margin: auto;
}

.menuButon{
	width: 30%;
}

.historyInfo{
	height: 300px;
	overflow-y: scroll;
}
.historyInfo table{
	width: 80%;
    border-spacing: 0;
	text-align: center;
}
