*{
	margin: auto;
	padding: 0;
}

/*--------------------------------
	stylesheet of index.html
--------------------------------*/
.infoGame{
	background-color: white;
	border: red 2px solid;
	padding: 10px;
	text-align: center;
}

.contents{
    width: 40%;
    margin: auto;
    padding: 20px;
    border-right: red 2px solid;
    border-left: red 2px solid;
}
.board {
    width: 65%;
        padding-top: 25px;
    margin: auto;
}

.menuButon{
	width: 30%;
}

.historyInfo{
	height: 300px;
	overflow-y: scroll;
}
.historyInfo table{
	width: 80%;
    border-spacing: 0;
	text-align: center;
}
.navbar-brand{
	cursor: default;
}
.timer span{
	font-family: 'Carter One';
}
#status{
	padding: 5px;
	border: black 1px solid;
}
.whiteTurn{
	background: black;
	color: white;
}
.blackTurn{
	background: white;
	color: black;
}
/*--------------------------------
	stylesheet of home.html
--------------------------------*/
.titleGame{
	text-align:center;
	/*font-family:Joker, "Joker UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;*/
	font-family: 'Carter One';
	font-weight:lighter;
	font-size:50px;

	/*text-shadow: 0 0 5px black;*/
	/*text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;*/
	text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
	
	/*color: #f39ea6;*/
	color: red;

	background: #e8e8ff;
	border: #e452525e 10px solid;
	/*border-radius: 50%;*/
	margin: 35px;
	padding: 10px;
	cursor: default;
}
.logoGame{
	margin:auto;
	border: #DE192B 10px solid;
    border-radius: 25%;
	box-shadow: 5px 8px 7px rgba(0, 0, 0, 0.58);
	cursor: help;
}

.btn{
	font-weight:bold;
	font-size:20px;

	padding: 10px 50px;
	margin-top: 15px; 
}
.btn-setting, .btn-help{
	color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-setting:hover, .btn-help:hover, .btn-start:hover{
	background-color: #16A085;
}
.btnGroup{
	padding-top: 15px; 
}